body{
	background-attachment: fixed;
	background-color: #7FB8CB;
	margin: 0px;
}
#background{
	position: absolute;
	width: 100%;
	z-index:-1;
	left:0px;
	top: 0px;
}
#head{
	text-align: center;
	margin-top:7%;
}
#head h1{
	font-family: didot,times,helvetica,arial;
}
#head a {
	color:#e17900;
	text-decoration:none;
	font-size: 1rem; 
}
#head a:hover { 
	color:#7FB8CB;
} 
#head span {
	color:#e17900;
}
#nevigation{
	border-radius: 20px;
	background:#E5F6FD;
	background-size: 100% auto;
	width: 18%;
	padding:10px;
	float:left;
	margin: 3%;
	font-family: didot,times,helvetica,arial;
	font-size: 1rem;
	color:rgba(49, 112, 143, 1);
	font-style:italic;
}
#article{
	border-radius: 20px;
	background:#E5F6FD;
	background-size: 100% auto;
	padding:10px;
	margin:3% 5% 3% 25%; 
	font-family: didot,times,helvetica,arial;
	font-size: 1rem;
}
#article h4{
	color:rgba(49, 112, 143, 1);
	font-style:italic
}
#table table{
	width:99.99%;
	border:0;
	background:#E5F6FD;
	border-radius:20px;
}
#table table td{
	background:#92C6D3;
	border-radius: 20px;
	padding:0px 15px;
}
#table table td:nth-child(odd){
	font-weight:bold;
}
#section a{
	color:#e17900;
	text-decoration:none;
}
#section a:hover{
	color:rgba(49, 112, 143, 1);
}
#section table{
	width:99.99%;
	border:1;
	background:#E5F6FD;
}
#section table td{
	background:#92C6D3;
	padding:0px 15px;
}
#section table td:nth-child(odd){
	font-weight:normal;
}
#top{
	text-align: right;
}
#top a{
	color:rgba(49, 112, 143, 1);
	font-style:italic;
}
#foot{
	text-align: center;
	background: #000;
	color: white;
	padding: 10px;
}
#foot a{
	color:white;
}